html {
  font-size: 18px;
  line-height: 1.4;
}

nav {
  background-color: cadetblue;
}


.optics {
  color: white;
  font-family: helvetica, serif;
}

.container {
  max-width: 960px;
  margin: auto;
}

.container img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

.menu {
  display: flex;
  align-items: center;
  font-family: helvetica, serif;
  color: white;
}

ul {
  margin-right: 1rem;
}

ul li {
  display: inline;
  padding: 0 1rem;
}

.query {
  display: none;
}

header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 1r em;
  height: 30rem;
}

.banner {
  display: flex;
  justify-content: flex-end;
  margin-top: 10rem;
}

.bannertext {
  font-family: helvetica, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  background-color: white;
  padding: 1.5rem 5rem;
  line-height: 1.2;
}

/*MID-SECTION*/

.mid-section {
  display: flex;
  justify-content: center;
  height: 8rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 3rem;
  width: 5rem;
  height: 8rem;
}

.mid div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: helvetica, sans-serif;
}

.mid img {
  width: 5rem;
  margin-bottom: 1rem;
}

.button {
  display: flex;
  justify-content: center;
}

.buttons {
  margin-top: 3rem;
  width: 35%;
  margin-right: 5%;
  margin-bottom: 4rem;
}

.buttons div {
  background-color: cadetblue;
  width: 10rem;
  padding: 0.5rem 1.25rem;
  color: white;
  font-family: helvetica, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.buttons p {
font-family: helvetica, sans-serif;
}

/*LAST PART*/

.lastbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: helvetica, sans-serif;
  background-color: azure;
  margin-top: 5rem;
}

.lastbox img {
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 4rem;
  padding-right: 1rem;
}
